.footer {
  color: var(--white);
  text-align: center;
  font: var(--caption);
  margin-block-end: 15px;
}

.footer .social {
  justify-content: center;
  padding: 0;

}

.footer-logo {
  display: none;
}

.footer .footer-copyright {
  gap: 6px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-logo {
    display: block;
  }

  .footer .social {
    order: 3;
  }

  .footer .footer-copyright {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .footer-copyright {
    display: flex;
  }
  .footer {
    margin-block-end: 40px;
  }
}