.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  max-inline-size: 540px;
}

.form {
  margin-block-end: 80px;
}

.form h2,
.form p {
  color: var(--white);
  text-align: center;
  margin: 0;
}

.form label {
  display: flex;
  flex-direction: column;
  font: var(--button);
}

.form :is(input, textarea) {
  margin-block-start: 8px;
  border: 2px solid #858C94;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  font: var(--body1);
}

@media screen and (max-width: 768px) {
  .form .title {
    align-self: stretch;
    text-align: center;
  }
}