@import './variables.css';
@import './button.css';
@import './button-icon.css';
@import './header.css';
@import './hero.css';
@import './wrapper.css';
@import './menu.css';
@import './information.css';
@import './comment.css';
@import './project.css';
@import './social.css';
@import './footer.css';
@import './form.css';
@import './title.css';

*{
  box-sizing: border-box;
}

body {
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--purple);
  margin: 0;
}

html {
  scroll-behavior: smooth;
}