@import './variables.css';
@import './button.css';
@import './button-icon.css';
@import './header.css';
@import './hero.css';
@import './wrapper.css';
@import './menu.css';
@import './information.css';


*{
  box-sizing: border-box;
}

body {
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--purple);
}