.testimony {
  align-items: center;
  padding-block-start: 40px;
  padding-block-end: 40px;
  gap: 32px;
}

.testimony-title {
  align-self: flex-start;
  background-color: var(--purple);
  color: var(--white);
  font: var(--headline5);
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  text-decoration: none;
  box-shadow: -4px 4px 0 var(--white);
  margin-inline-start: 4px;
}

.testimony-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimony-image img {
  max-inline-size: 100%;
}

@media screen and (min-width: 768px) {
  .testimony {
    display: flex;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  
  .testimony:nth-child(even) .testimony-image {
    order: 2;
    flex: 1;
    text-align: center;
  }

  .testimony-description {
    flex: 1;
    text-align: center;
  }
}